@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "AccountInformation";
}

<h1>AccountInformation</h1>

<div>
    <h4>LoginViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="home" asp-controller="index">Back to List</a>
</div>


