@model FinalProject.ViewModels.Teams

@{ ViewData["Title"] = "Details";
              }

<h1>Details</h1>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Linkdin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Linkdin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.position)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>